.wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.user_info {
	display: flex;
	gap: 20px;
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
