.body {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.avatar_name_wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1 1 auto;
}
.name {
	font-weight: 600;
	color: #005dbb;
	margin-bottom: 10px;
}
.avatar_wrapper {
	img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		object-fit: cover;
	}
}
